.clients {
    &__title {
        margin-bottom: 30px;

        font-weight: 700;
        font-size: 28px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;

        @media screen and (min-width: $desktop) {
            font-size: 36px;
            margin-bottom: 50px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        @media screen and (min-width: $desktop) {
            flex-wrap: no-wrap;
        }
    }

    &__item {
        width: calc((100% - 30px) / 2);

        @media screen and (min-width: $tablet) {
            width: calc((100% - 60px) / 3);
        }

        @media screen and (min-width: $desktop) {
            width: 170px;
        }
    }

    &__logo {
        @include transitioned(fill);
        fill: $icon-color;
    }

    &__link {
        @include transitioned(border-color);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 92px;
        @include bordered($icon-color);
        border-radius: 4%;

        &:hover,
        &:focus {
            @include bordered($accent-color);
        }

        &:hover .clients__logo,
        &:focus .clients__logo {
            fill: $accent-color;
        }
    }
}