.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $background-color-dark;

    &__container {
        display: flex;
        align-items: baseline;
    }

    &__socials {
        margin-left: 70px;
    }

    &__text {
        margin-bottom: 20px;

        color: $white-color;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    &__form {
        display: flex;
        margin-left: auto;
    }

    &__label {
        display: flex;
        flex-direction: column;
    }

    &__input,
    &__button {
        height: 50px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }

    &__input {
        width: 358px;
        @include bordered(rgba(255, 255, 255, 0.3));
        border-radius: 4px;
        padding-left: 16px;

        background-color: $background-color-dark;
        color: $text-light-color;
        font: inherit;
    }

    &__button {
        @extend %button;

        align-self: flex-end;
        margin-left: 12px;
        padding-left: 28px;
        padding-right: 28px;
    }
}

.button__icon {
    vertical-align: middle;
    margin-left: 10px;

    fill: $white-color;
}