.header {
    border-bottom: 1px solid $header-border-color;
    background-color: $white-color;

    &__container {
        display: flex;
        align-items: center;
        padding: 10px 15px;

        @media screen and (min-width: 768px) {
            padding: 16px 15px;
        }

        @media screen and (min-width: 1200px) {
            padding: 24px 15px;
        }
    }

    &__button {
        @include centeredFlex;
        border: none;
        margin-left: auto;

        width: 40px;
        height: 40px;

        color: $black-color;
        background-color: $white-color;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }
}

.header-list {
    @media screen and (max-width: 767px) {
        display: none;
    }

    display: flex;
    flex-direction: column;
    margin-left: auto;

    @media screen and (min-width: 1200px) {
        flex-direction: row;
        align-items: center;
    }

    &__item:first-child {
        margin-bottom: 10px;

        @media screen and (min-width: 1200px) {
            margin-bottom: 0;
            margin-right: 30px;
        }
    }

    &__link {
        display: inline-flex;
        vertical-align: middle;

        @include transitioned(color);

        color: $text-dark-color;

        font-weight: 500;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.02em;

        @media screen and (min-width: 1200px) {
            font-size: 14px;
            line-height: 1.14;
        }

        &:hover,
        &:focus {
            color: $accent-color;
        }

        &:hover .header-list__envelope,
        &:focus .header-list__envelope,
        &:hover .header-list__smartphone,
        &:focus .header-list__smartphone {
            fill: $accent-color;
        }
    }

    &__envelope,
    &__smartphone {
        @include transitioned(fill);
        align-self: center;

        margin-right: 10px;
        fill: $text-dark-color;
    }
}