.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient($hero-overlay-color, $hero-overlay-color),
        url("../images/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: $hero-background-color;

    &__title {
        max-width: 696px;
        margin: 0 auto 30px;

        color: $white-color;

        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }

    &__button {
        @extend %button;
        @include transitioned(background-color);

        padding: 10px 32px;

        &:hover,
        &:focus {
            background-color: $button-active-color;
        }
    }
}