.hero {
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    width: 480px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient($hero-overlay-color, $hero-overlay-color),
        url("../images/mobile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: $hero-background-color;

    @media screen and (max-width: 479px) {
        width: 100vw;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        background-image: linear-gradient($hero-overlay-color, $hero-overlay-color),
            url("../images/tablet.jpg");
    }

    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
        width: 100vw;
        max-width: 1600px;

        background-image: linear-gradient($hero-overlay-color, $hero-overlay-color),
            url("../images/hero.jpg");
    }

    &__title {
        width: 360px;
        margin: 0 auto 30px;

        color: $white-color;

        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        @media screen and (min-width: 1200px) {
            width: 696px;
            font-size: 44px;
            line-height: 1.36;
        }
    }

    &__button {
        @extend %button;
        @include transitioned(background-color);

        padding: 10px 32px;

        &:hover,
        &:focus {
            background-color: $button-active-color;
        }
    }
}