.menu {
    &__button {
        z-index: 3;

        display: inline-block;
        margin: 0;
        padding: 0;
        border: none;
        margin-left: auto;

        width: 40px;
        height: 40px;

        background-color: $white-color;

        @media screen and (min-width: $tablet) {
            display: none;
        }

        &--open .menu__close {
            display: block;
            fill: $title-dark-color;
            @include transitioned(fill);
        }

        &--open .menu__open {
            display: none;
        }

        &:hover .menu__close {
            fill: $accent-color;
        }
    }

    &__icon {
        align-self: center;
    }

    &__close {
        display: none;
    }

    &__open {
        fill: $black-color;
    }

    &__container {
        z-index: 2;
        display: none;

        &--open {
            display: block;
            position: absolute;
            width: $mobile;
            top: 0;
            left: 0;
            padding: 48px 40px;

            background-color: $white-color;
        }

        @media screen and (max-width: 479px) {
            width: 100vw;
        }

        @media screen and (min-width: $tablet) {
            position: relative;
            padding: 0;
            height: 80px;
            display: flex;
            align-items: center;

            margin-left: 87px;
        }

        @media screen and (min-width: $desktop) {
            margin-left: 93px;
        }
    }
}