.features {
    &__list {
        display: flex;
    }

    &__title {
        margin-bottom: 10px;

        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    &__title--hidden {
        @extend %visually-hidden;
    }

    &__text {
        color: $text-dark-color;

        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    }

    &__thumb {
        @include centeredFlex;

        margin-bottom: 30px;
        border-radius: 4%;
        width: 270px;
        height: 120px;

        background-color: $background-color-gray;
    }

    &__item:not(:last-child) {
        margin-right: 30px;
    }
}